:root {
    --color: black;
    --primary-color: #09639f;
    --secondary-color: #3498db;
    --header-color: #09639f;
    --background-color: #fff;
    --form-background-color: #f9f9f9;
    --table-active-color: #f2f2f2;
    --hr-text-color: #3b3b3b;
    --lable-text-color: #333;
    --border-color: #ddd;
    --button-color: #09639f;
    --input-background-color: white;
    --header-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

body {
    font-family: Twemoji Country Flags, system-ui;
    background-color: var(--background-color);
    color: var(--color)
}

body.dark-mode {
    --color: white;
    --primary-color: #09639F;
    --secondary-color: #3498DB;
    --header-color: #3498DB;
    --background-color: #121212;
    --form-background-color: #121212;
    --table-active-color: #252525;
    --hr-text-color: #D5D5D5;
    --lable-text-color: #DFDFDF;
    --border-color: #353535;
    --button-color: #3498DB;
    --input-background-color: #252525;
    --header-shadow: 2px 2px 4px rgba(255, 255, 255, 0.25);
}

.material-symbols-outlined {
    margin-left: 5px;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

details {
    border-bottom: 1px solid var(--border-color);
}

summary {
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-wrap: nowrap;
}

summary::marker {
    font-size: 1.5rem;
    color: var(--secondary-color);
}

summary h2 {
    display: inline-flex;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    color: var(--header-color);
    text-shadow: var(--header-shadow);
}

h2,
h3 {
    margin: 30px 0;
    text-align: center;
    color: var(--hr-text-color);
}

hr {
    border: 1px solid var(--border-color);
    margin: 20px 0;
}

.footer {
    display: flex;
    font-weight: 600;
    margin: 10px auto 0 auto;
    justify-content: center;
    align-items: center;
}

.footer button {
    margin: 0 20px;
    background: #212121;
    max-width: fit-content;
}

.footer button:hover,
.footer button:focus {
    background: #3b3b3b;
}

.form-control a,
a.link {
    text-decoration: none;
}

.form-control {
    margin: 20px auto;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.form-control button {
    background-color: var(--form-background-color);
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--button-color);
    border-color: var(--primary-color);
    border: 1px solid;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 110%;
    font-weight: 600;
    color: var(--lable-text-color);
}

input[type="text"],
input[type="number"],
input[type="url"],
textarea,
select {
    width: 100%;
    text-align: center;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 16px;
    color: var(--lable-text-color);
    background-color: var(--input-background-color);
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="url"]:focus,
textarea:focus,
select:focus {
    border-color: var(--secondary-color);
    outline: none;
}

.button,
table button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 135px;
    white-space: nowrap;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: var(--primary-color);
    cursor: pointer;
    outline: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.button {
    font-weight: 600;
    padding: 15px 15px;
    font-size: 1.1rem;
    width: max-content;
}

input[type="checkbox"] {
    background-color: var(--input-background-color);
}

.button.disabled {
    background-color: #ccc;
    cursor: not-allowed;
    box-shadow: none;
    pointer-events: none;
}

.button:hover,
table button:hover,
table button:focus {
    background-color: #2980b9;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.header-container button:hover {
    transform: scale(1.1);
}

button.button:hover {
    color: white;
}

.button:active,
table button:active {
    transform: translateY(1px);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.form-container {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background: var(--form-background-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border: 1px solid var(--border-color);
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

tbody {
    display: flex;
    flex-direction: column;
}

tr {
    display: flex;
    flex-direction: row;
}

th,
td {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 100%;
    gap: 10px;
    border-bottom: 1px solid var(--border-color);
}

td div {
    display: flex;
    align-items: center;
}

th {
    background-color: var(--secondary-color);
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    width: 50%;
}

td:not(table.my-ip td):last-child {
    background-color: var(--table-active-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

tr:hover {
    background-color: var(--table-active-color);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: var(--form-background-color);
    margin: auto;
    padding: 10px 20px 20px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close {
    color: var(--color);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form-control label {
    display: block;
    margin-bottom: 8px;
    font-size: 110%;
    font-weight: 600;
    color: var(--lable-text-color);
    line-height: 1.3em;
}

.form-control input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 16px;
    color: var(--lable-text-color);
    background-color: var(--input-background-color);
    box-sizing: border-box;
    margin-bottom: 15px;
    transition: border-color 0.3s ease;
}

.routing {
    display: grid;
    justify-content: flex-start;
    grid-template-columns: 1fr 1fr 10fr 1fr;
    margin-bottom: 15px;
}

.form-control .routing input {
    grid-column: 2 / 3;
}

#routing-rules.form-control {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.routing label {
    text-align: left;
    margin: 0 0 0 10px;
    font-weight: 400;
    font-size: 100%;
    text-wrap: nowrap;
}

.form-control input[type="password"]:focus {
    border-color: var(--secondary-color);
    outline: none;
}

#passwordError {
    color: red;
    margin-bottom: 10px;
}

.symbol {
    margin-right: 8px;
}

.modalQR {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.floating-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: var(--color);
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

.floating-button:hover {
    transform: scale(1.1);
}

.min-max {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: baseline;
    width: 100%;
}

.min-max span {
    text-align: center;
    white-space: pre;
}

.input-with-select {
    width: 100%;
}

body.dark-mode .floating-button {
    background-color: var(--color);
}

body.dark-mode .floating-button:hover {
    transform: scale(1.1);
}

.my-ip th {
    background-color: var(--hr-text-color);
    color: var(--background-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
}

.my-ip td {
    background-color: unset;
    overflow: hidden;
    flex: 1;
    text-overflow: clip;
    white-space: nowrap;
}

.my-ip td:first-child {
    background-color: var(--table-active-color);
}

.header-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.udp-noise {
    border: 1px solid var(--border-color);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
    .form-container {
        max-width: 70%;
    }

    .form-control {
        margin-bottom: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: baseline;
        justify-content: flex-end;
        font-family: Arial, sans-serif;
    }

    #apply {
        display: block;
        margin: 20px auto;
        max-width: 50%;
    }

    .modal-content {
        width: 30%
    }

    .routing {
        display: grid;
        grid-template-columns: 4fr 1fr 3fr 4fr;
    }
}